[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = Adrian
	email = aakeem0920@gmail.com
[init]
	defaultBranch = main
[url "https://github.com/"]
	insteadOf = gh:
[url "https://github.com/Phantomforce260/"]
	insteadOf = phantom:
[url "ssh://git@lunarflame.dev:2222/"]
	insteadOf = lfs:
